    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/../../../assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/../../../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/../../../assets/css/paper-dashboard-full.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/../../../assets/css/demo.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/../../../assets/css/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/../../../assets/css/sweetalert.css"> 

    <style type="text/css">

        .dash-panel{
            padding: 25px;
        }
        table>thead>tr>th {
            font-weight: 600 !important;
        }
        .table>thead>tr>th .table>tbody>tr>td{
            border: 1px solid;
        }
        select.select-box{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            background: #F3F2EE;
        }
        .dash-content{
            padding: 20px;
        }
        p.title-head{
            font-weight: 600;
            font-size: 18px;
        }

        .title-head {
            animation: blinker 5s linear infinite;
            color: #250404;
        }

        .title-data {
            animation: blinker 3s linear alternate;
            color: #250404;
            background: #fff;
        }

        @keyframes blinker {  
            0% { opacity: 1.0;
                 color: red; } 
            50% { opacity: 0.3;
                    color: red; } 
            100% { opacity: 1.0; } 
        }
        p.order-link{

            text-align: center;
            background: gainsboro;
            margin: 6px !important;
        }
        .logo{
            height: 100px !important;
        }
        .one-supplier  { 
            background: #f3f2ee;
            margin-bottom: 10px;
            padding: 8px; 
        }
        .one-supplier:nth-child(odd) { 
            background: #f1eae0;
            margin-bottom: 10px;
            padding: 8px;
        }
        #gstn, #pan, #hsn, #asc {
            text-transform: uppercase;
        }
        input[type=file] {
            display: inline-block !important;
        }
        #download-excel{
            padding: 15px;
        }
        
    </style>

    