<footer class="footer footer-transparent">
	<div class="container-fluid">
	    <div class="copyright" style="text-align:center;">
	        &copy; <script>document.write(new Date().getFullYear())</script>, made by <a href="http://www.primustechsys.com/">{{productCompany}}</a>
	    </div>
	</div>
</footer>