<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <!-- <img style="width: 150px;" src="http://www.gharda.com/images/logo.gif"> -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)">
                        <i class="ti-user"></i>
                        <p id="user-name"></p>
                    </a> 
                </li>
                <li>
                    <a href="/scp/{{companyString}}/{{userRole}}">
                        <p id="back">Back</p>
                    </a> 
                </li>
                <li>
                    <a href="#">
                        <i class="ti-settings"></i>
                        <p id="logout">Logout</p>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<script src="/../../../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var loginObject = localStorage.getItem('loginResponse');
    loginObject = JSON.parse(loginObject)
    $("#user-name").html(loginObject.name + " | " + loginObject.role)

    $("#user-name").click(function () {
        if(loginObject.role == "supplier")
        {
                
            location.href = '/scp/'+ (loginObject.email).split('@')[1].replace(/\./g,"_") +'/supplier/user'
        }

    })

    $("#logout").click(function () {
                
        swal({
                title: "Are you sure?",
                text: "You want to logout the session!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: false
                }, function(isConfirm) {
                if (isConfirm) {
                    swal("Logout", "User is logout.", "success");
                    location.href = '/scp/login'
                    localStorage.clear();
                    
                } 
                else {
                    swal("Cancelled", "Your are login", "error");
                }
            });


    })

</script>