

<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            Enterprise Garden
        </a>
    </div>

    <ul class="nav">
        {{#each menu}}
            
            <li class="{{this.class}}">
                <a href="{{this.path}}">
                    <i class="{{this.icon}}"></i>
                    <p>{{this.name}}</p>
                </a>
            </li>
        {{/each}}

    </ul>
</div>