	<!--   Core JS Files   -->
    <script src="/../../..//assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/../../..//assets/js/bootstrap.min.js" type="text/javascript"></script>

	
	<script src="/../../..//assets/js/socket.io.js"></script>
	<script src="/../../..//assets/js/commons.js"></script>
	<script src="/../../..//assets/js/sweetalert.min.js"></script>



	<!--Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="/../../..//assets/js/moment.min.js"></script>

  	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    
	<!--  Charts Plugin -->
	<script src="/../../..//assets/js/chartist.min.js"></script>

	<!--  Notifications Plugin    -->
	<script src="/../../..//assets/js/bootstrap-notify.js"></script>
	<!--  Date Time Picker Plugin is included in this js file -->
	<!-- <script src="/../../..//assets/js/bootstrap-datetimepicker.js"></script> -->

	<!--  Select Picker Plugin -->
	<!-- <script src="/../../..//assets/js/bootstrap-selectpicker.js"></script> -->

	<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
	<script src="/../../..//assets/js/bootstrap-checkbox-radio-switch-tags.js"></script>

	<!-- Circle Percentage-chart -->
	<!-- <script src="/../../..//assets/js/jquery.easypiechart.min.js"></script> -->


	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="/../../..//assets/js/canvasjs.min.js"></script>
	<script src="/../../..//assets/js/demo-full.js"></script>
	<script src="/../../..//assets/js/demo.js"></script>
	<script src="/../../..//assets/js/commons.js"></script>
	
    <script src="/../../..//assets/js/xlsParser/shim.js"></script>
    <script src="/../../..//assets/js/xlsParser/jszip.js"></script>
    <script src="/../../..//assets/js/xlsParser/xlsx.js"></script>
    <script src="/../../..//assets/js/xlsParser/dist/ods.js"></script>
    <script src="/../../..//assets/js/excelHandler.js"></script>

	<script src="/../../..//assets/js/jquery.table2excel.js"></script>