<!DOCTYPE html>
<html>
<head>
	<title></title>
	{{> page/css}}
</head>
<body>
	{{#activities}}
		<div >
			<div class="col-lg-4 col-md-5">
				<div class="card card-user">
		            <!-- <div class="image">
		                <img src="assets/img/background.jpg" alt="..."/>
		            </div> -->
		            <div class="content">
		                
		                  <h4 class="title text-center">{{this.person}}<br />
		                     <a href="#"><small>@{{this.empCode}}</small></a>
		                  </h4>
		                <p class="description text-center">
		                    " Software Design Engineer "<br>
		                    Product team<br>
		                    PRIMUS
		                    
		                </p>
		            </div>
		            <hr>
		            <div class="text-center">
		                <div class="row">
		                    <div class="col-md-3 col-md-offset-1">
		                        <h5>120<br /><small>Companies</small></h5>
		                    </div>
		                    <div class="col-md-4">
		                        <h5>40%<br /><small>Disk Used</small></h5>
		                    </div>
		                    <div class="col-md-3">
		                        <h5>2562<br /><small>Users</small></h5>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		</div>		
	{{/activities}}
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
	<script src="./js/commons.js"></script> 
	
<script type="text/javascript">


	
</script>
</body>
</html>