<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>
	<title>{{title}}</title>
    {{> page/css}}
    <style type="text/css">
        .table-responsive {
            overflow: auto;
        }
    </style>
</head>
<body>

<div class="wrapper">
	

    <div class="">
    {{> page/header}} 
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{entryTitle}}</h4>
                                <a href="javascript:void(0)" id="btn-export">Export to excel file</a>
                            </div>
                            <div class="content table-responsive">
                                <table id="gst-table" class="table table-hover">
                                    <thead>
                                        <!-- <th>GSTN Sync status</th> -->
                                        {{#each keys}}
                                            
                                            {{#contains '[Id,V,Db,Last  Mod,Login  Count]' this }}
                                                {{else}}
                                                <th> {{ this }} </th>   
                                            {{/contains}}
                                            
                                            <!-- {{#eq this "Login  Count"}}
                                                <th>Login Count</th>
                                            {{/eq}} -->
                                            {{#eq this "To Email"}}
                                                <th>To Email</th>
                                            {{/eq}}
                                            <!-- {{#eq this "Db"}}
                                                <th> Company Name </th>
                                            {{/eq}} -->

                                        {{/each}}    
                                                  
                                    </thead>
                                    <tbody>
                                        {{#each data}}
                                        
                                            <tr>
                                                {{#each ../exactKeys}}
                                                   
                                                <!-- <td>{{@index}}{{this}}</td> -->
                                                    {{#contains '[_id,__v,__db,__lastMod,__loginCount]' this }}
                                                    {{else}}

                                                        <td> {{lookup ../this this}}</td>
                                                    {{/contains}}
                                                {{/each}}
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{> page/footer}}
    </div>
</div>


</body>

    {{> page/script}}   

    <script type="text/javascript">
        $(document).ready(function () {    
            $("#btn-export").hide()
            if($('#gst-table tr').length > 0)
            {
                $("#btn-export").show()
            }
            $("#btn-export").click(function(){
                $("#gst-table").table2excel({
                    exclude: ".noExl",
                    name: document.title + new Date(),
                    filename: document.title + new Date(),
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            })
            $(".reinvite-btn").click(function () {
    
                obj = {
                    email : $(this).attr("email"), 
                    toEmail : $(this).attr("semail")
                }
                console.log(obj)
                $.when(commons.ajaxRequest("/scp/{{companyString}}/{{userRole}}" +"/reInvite", obj)).done(function(res){
                    console.log(res)

                    if(res.ok)
                    {
                        commons.showNotif('top','right', 'Email Sent to '+ obj.toEmail, 2)
                        
                        
                    }

                })

            })
                    
        })

    </script>

    

    
</html>
