
<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <!-- For-Mobile-Apps -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="" />
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //For-Mobile-Apps -->
        
        <!-- Custom-Stylesheet-Links -->    
            <link  rel="stylesheet" href="/../../../assets/landing/css/bootstrap.css" type="text/css" media="all" />
            <link rel="stylesheet"  href="/../../../assets/landing/css/style.css" type="text/css" media="all" />         
            <link rel="stylesheet" href="/../../../assets/landing/css/swipebox.css">
            <link href="/../../../assets/landing/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
        <!-- //Custom-Stylesheet-Links -->
            <link rel="icon"  type="image/icon"  href="images/favicon.ico">
        
        <!-- Web-Fonts -->
            <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,300italic,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500' rel='stylesheet' type='text/css'>
        <!-- //Web-Fonts -->
            <link rel="stylesheet"  href="/../../../assets/landing/css/style_new.css" type="text/css" media="all" /> 

            <script src="/../../../assets/landing/js/jquery.min.js"> </script>
            <script src="/../../../assets/landing/js/bootstrap.js"></script>
        
    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <!-- Top-Bar -->
            <div class="top-bar">
                <div class="container" style="padding-right: 1px;">
                    <div class="logo">
                        <a href="#">

                            <img src="{{iconUrl}}" alt="logo" style="width:66px">
                            <!-- <img style="width: 150px;" src="http://www.gharda.com/images/logo.gif"> -->
                            <span class="logo-name"> {{companyName}}</span>
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="phone">
                            <ul>
                                <!-- <li><img style="width: 150px;" src="http://www.gharda.com/images/logo.gif"></li> -->
                                <li class="collapse navbar-collapse">
                                    <a href="javascript:void(0)">
                                        <i class="ti-user"></i>
                                        <p id="user-name"></p>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Top-Bar -->

            <!-- Navbar -->
            <div class="total-navbar">
                <div class="container" style="padding-right: 1px;">
                <nav class="navbar navbar-default">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">

                        {{> page/landing-nav}}                  
                    </div>
                </nav>
                </div>
            </div>
            <!-- //Navbar -->
        </div>
        <!-- //Header -->
        
        <!-- Banner -->
        <div class="banner">
            <h1>{{msgLine1}} </h1>
            <h3>{{msgLine2}}</h3>
            <h4>{{msgFooter}} </h4>
            {{#if isLogin}}
            <a href="/scp/login">Login Now</a>
            {{/if}}
        </div>
         
                
        <!--Services -->
        <div class="services" id="services">
        <div class="container">
            <h3> Highlights </h3>
            
            <div class="service-grids">
                <div class="col-md-3 col-sm-3 service-grid service-grid1">
                    <div class="service-grids-icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="service-grids-text">
                        <h4> SAP Integration</h4>
                        <p> These products are integrated with your SAP systems. Data will always be synchronized with both the system. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 service-grid service-grid2">
                    <div class="service-grids-icon">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="service-grids-text">
                        <h4>DESIGN</h4>
                        <p>Well defined system architectures and UI/UX designs. Concept focused and easy to use design. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 service-grid service-grid3">
                    <div class="service-grids-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="service-grids-text">
                        <h4>STAKEHOLDERS</h4>
                        <p>Everyone who is involved in your business process can collaborate via web, everyone will have their own access roles and access rights.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 service-grid service-grid4">
                    <div class="service-grids-icon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <div class="service-grids-text">
                        <h4>FULLY WEB-BASED</h4>
                        <p>Completely written in Web, so you can access from anywhere, anytime. There will be no more private networks and restrictions</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            </div>
        </div>
        
       
            <!-- swipe box js -->
                <script src="/../../../assets/landing/js/jquery.swipebox.min.js"></script> 
                    <script type="text/javascript">
                        jQuery(function($) {
                            $(".swipebox").swipebox();
                        });
                </script>
                <!-- //swipe box js -->
        
           
          
    <!--Contact-->
        <div class="contact" id="contact">
            <div class="container">
                <div class="col-md-4 col-sm-4 contact-grids contact-grid1">
                    <h4>Address</h4>
                    <h6>{{companyDetails.address}} <br>
                        {{companyDetails.contactPerson}} : {{companyDetails.phone}} <br>
                        Email: <a href="mailto:{{companyDetails._uname}}">{{companyDetails._uname}}</h6>
                    <!-- <h6>+880 1918 691 601</h6> -->
                    
                </div>
                <div class="col-md-2 col-sm-2 contact-grids contact-grid2">
                    <h4>Navigation</h4>
                    <h6><a href="#about" class="scroll">About</a></h6>
                    <h6><a href="#services" class="scroll">Highlight</a></h6>
                    <h6><a href="#portfolio" class="scroll">Product Snapshots</a></h6>
                    
                </div>
                <div class="col-md-3 col-sm-3 contact-grids contact-grid3">
                    <h4>Follow us</h4>
                    <ul>
                        <li><a class="linkedin" href="#"></a></li>
                        <li><a class="google" href="#"></a></li>
                        <li><a class="pinterest" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 contact-grids contact-grid4">
                    <h4>Newsletter</h4>
                    <form action="#" method="post">
                        <input type="text" name="your email" placeholder="your email">
                        <input type="submit" value="SUBMIT">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Contact-->
        
        <!--Footer-->
            <div class="footer">
                <div class="container">
                        <p> &copy; 2016 All Rights Reserved by <a href="http://www.primustechsys.com/"> PRIMUS Techsystems</a></p>
                </div>
            </div>
        <!--//Footer-->
    
        <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
        <!-- Smooth-Scrolling-JavaScript -->
        <script type="text/javascript" src="/../../../assets/landing/js/move-top.js"></script>
        <script type="text/javascript" src="/../../../assets/landing/js/easing.js"></script>
        <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll, .navbar li a, .footer li a").click(function(event){
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                })
                var loginObject = localStorage.getItem('loginResponse');
                loginObject = JSON.parse(loginObject)
                $("#user-name").html(loginObject.name + " | " + loginObject.role)

                $("#user-name").click(function () {
                    if(loginObject.role == "supplier")
                    {
                            
                        location.href = '/scp/'+ (loginObject.email).split('@')[1].replace(/\./g,"_") +'/supplier/user'
                    }

                })
    
        </script>
        <!-- //Smooth-Scrolling-JavaScript -->

<!-- //here ends scrolling icon -->
    </body>
</html>