
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{> page/title}}</title>
    {{> page/css}}
</head>

<body>
    <nav class="navbar navbar-transparent navbar-absolute">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar "></span>
	                <span class="icon-bar "></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>
	        <div class="collapse navbar-collapse">
	            <ul class="nav navbar-nav navbar-right">
	                <li>
	                   <a href="{{goBackToUrl}}" class="btn">
	                        Go to home
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>

	<div class="wrapper wrapper-full-page">
    	<div class="register-page">
		<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        	<div class="content">
            	<div class="container">
                	<div class="row">
                    	<div class="col-md-8 col-md-offset-2">
                        	<div class="header-text">
                            	<div class="icon icon-danger">
                                    
                                <h2> <i class="ti ti-face-sad"></i> {{errorTitle}}</h2>
                                </div>
                                <h4 class="text-muted">{{errorMessage}}</h4>
                                <hr>
                        	</div>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                        	<div class="media">
                            	<div class="media-left">
                                	<div class="icon icon-danger">
                                    	<i class="ti ti-direction-alt"></i>
                                	</div>
                            	</div>
                            	<div class="media-body">
                                	<h5>Link is not accessible or available</h5>
                                	This application server may imposed the restrictions as per your role defined at their end or resource is not available. In case if resource access is denied it will not be permitted unless server grants it.

                            	</div>
                        	</div>
                        	<div class="media">
                            	<div class="media-left">
                                	<div class="icon icon-warning">
                                    	<i class="ti-unlink"></i>
                                	</div>
                            	</div>
                            	<div class="media-body">
                                	<h5>Broken Pages or url</h5>
                                	That can happen if wrong url is entered or page is really isn't available. You retry with application specified links by proper way instead of typing it mannually
                            	</div>
                        	</div>
                        	<div class="media">
                            	<div class="media-left">
                                	<div class="icon icon-info">
                                    	<i class="ti-headphone"></i>
                                	</div>
                            	</div>
                            	<div class="media-body">
                                	<h5>Ask for Support</h5>
                                	 If you are damn sure about your authenticity but still you find these error, call support or drop emails to us. 
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        	</div>

    		<footer class="footer footer-transparent">
            	<div class="container">
                	<div class="copyright text-center">
                    	&copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.enterprisegarden.in">Enterprise Garden</a>
                	</div>
            	</div>
        	</footer>
		</div>
	</div>
</body>
    {{> page/script}}
	<script type="text/javascript">
        $().ready(function(){
            demo.checkFullPageBackgroundImage();

            setTimeout(function(){
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
		});
	</script>

</html>
