<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>

    <title>{{title}}</title>
    {{> page/css}}

    <style type="text/css">
        select.select-box{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            background: #fffcf5;
        }
        .table-responsive {
            overflow: auto;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <!-- <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    {{companyName}} <br> {{appName}}
                </a>       
               
            </div>
            
            <ul class="nav">
                <li>
                    <p class="order-link"> <a href="/order">Mannual Invoice / ASN Filing</a> </p>
                </li>
                <li>
                    <p class="order-link"> <a href="/../../assets/gst.xlsx">Download sample</a> </p>
                </li>

                
            </ul>
        </div>

    </div> -->

    <div class="">
        
        {{> page/header}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{title}}</h4>
                            </div>
                            <div class="content">
                                <div id="invite-all-supplier">
                                     <a href="{{downloadFilePath}}">Download sample</a>

                                </div>
     
                                <div class="content table-responsive table-full-width">
                                    
                                    <table class="table table-middle" id="invite-all-supplier-table">
                                        <thead id="invite-all-supplier-table-header">
                                        </thead>
                                        <tbody id="invite-all-supplier-table-content">
                                        </tbody>
                                    </table>
                                </div>        
                                    
                                <div class="text-center">
                                    <input type="file" id="supplier-list-file"></input>
                                    {{#if btn}}
                                        <button type="button" id="invite-supplier-btn" class="btn btn-info btn-fill btn-wd">{{btn}}</button>
                                    {{else}}

                                        <button type="button" id="invite-supplier-btn" class="btn btn-info btn-fill btn-wd">Upload GST document</button>
                                    {{/if}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>        
         {{> page/footer}}
    </div>
</div>


</body>

   {{> page/script}}
   <script type="text/javascript">

        $(document).ready(function(){

            setTableId ($("#invite-all-supplier-table"), 
                        $("#invite-all-supplier-table-header") , 
                        $("#invite-all-supplier-table-content"));
        

            var xlf = document.getElementById('supplier-list-file');
            if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
            
            $("#invite-supplier-btn").click(function () {
                //console.log("sending req")

                data =  localStorage.getItem("file")
                if(!data)
                {
                    commons.errMsg("Please upload file", "There is no file")
                    return;
                }
                data = JSON.parse(data)
                console.log(data)
                data = data.Sheet1

                $.when(commons.ajaxRequest(window.location, JSON.stringify(data))).done(function(response)
                {
                    console.log(response)
                    if(response.ok)
                    {
                        {{#if msg}}
                            commons.msg("Success", "{{msg}}" )
                        {{else}}
                            commons.msg("Success", "You have saved your Invoice / ASN data")
                        {{/if}}
                        localStorage.removeItem("file")
                    }
                })            
            })

        })
            
   </script>
</html>
