<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="images">
		
		{{#imgs}}
				<img id="{{this._id}}" trusted="{{this.imgAnalysis}}" src="{{this.img}}" style="width: 150px; height: 120px">
		{{/imgs}}
	</div>

	<script src="./js/jquery-1.10.2.js"></script> 
	<script src="./js/jquery.facedetection.js"></script> 
	<script src="./js/commons.js"></script> 
	<script src="./js/sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="./css/sweetalert.css">
	<script type="text/javascript">

	$(document).ready(function () {
		analysis = []
		trusted = 0, total = 0
		$('img').each(function (k , v) {
			//knownTrust = $(v).attr("trusted")
			//console.log(knownTrust)
			
			/*if(commons.isNull(knownTrust))
			{
				console.log("analyzing new images")
				$('#' + v.id).faceDetection({
			        complete: function (faces) {
			        	for (var i = faces.length - 1; i >= 0; i--) {
			        		if(faces[i].confidence < -3)
			        			$("#" + v.id).attr("src", "")
			        		else
			        			trusted++;

			            	console.log(v.id, faces.length, faces[i].confidence);
			        		analysis.push({imgId: v.id, imgResult: faces[0].confidence})	
			        	}

			        }
			    });
			}
			else
			{
				if(knownTrust > -3)
				{
					trusted ++;
				}
					console.log(" known trusted")
			}*/
			$('#' + v.id).faceDetection({
		        complete: function (faces) {
		        	for (var i = faces.length - 1; i >= 0; i--) {
		        		if(faces[i].confidence < -3)
	        			{
	        				//$("#" + v.id).attr("src", "")
	        			}
		        		else
		        		{
		        			trusted++;
		        		}
		        		total++;
		            	//console.log(v.id, faces.length, faces[i].confidence);
		        		analysis.push({imgId: v.id, imgResult: faces[0].confidence})	
		        	}

		        }
		    });
		}).promise().done( function(){ /*
			$.when(commons.ajaxRequest(commons.getSvcUrl() + "/update-image-trust",analysis)).done(function(response){
	                return false
	        })*/
	 		//console.log(trusted, total,  analysis)
			commons.msg(Math.round(((trusted / total) * 100)) + "% trusted working",
				"This analysis is carried out over " + total + " evidences.\n" + "We are working on this module as beta, please consider there could be more or less trusted working by this person")
		} );
	})
</script>
</body>
</html>