<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>
	<title>{{title}}</title>
    {{> page/css}}
    <style type="text/css">
        .table-responsive {
            overflow: auto;
        }
    </style>
</head>
<body>

<div class="wrapper">
	

    <div class="">
    {{> page/header}} 
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{entryTitle}}</h4>
                                <a href="#" id="btn-export">Export to excel file</a>
                                <p id ="excel" id>No excel file</p>
                            </div>
                            <div class="content table-responsive">
                                <table id="gst-table" class="table table-hover">
                                    <thead>
                                        <!-- <th>GSTN Sync status</th> -->
                                        {{#each keys}}
                                            {{#contains '[Id,V,Db,Last  Mod,Login  Count,Prod-file,Format,Item-excel-list,Upload  Data,Pan,Gstn]' this }}
                                            {{else}}
                                            
                                            <th> {{ this }} </th>   
                                            {{/contains}}
                                            {{#eq this "Gstn"}}
                                                <th> GSTN </th>
                                            {{/eq}}
                                            {{#eq this "Pan"}}
                                                <th> PAN</th>
                                            {{/eq}}
                                            {{#eq this "Login  Count"}}
                                                <th>Action</th>
                                            {{/eq}}
                                        {{/each}}    
                                            
                                    </thead>
                                    <tbody>
                                        {{#each data}}
                                            <tr>

                                                <!-- {{#eq @index 0}}
                                                    <td><span class="label label-primary">GSTN Queued</span></td>
                                                    {{else}}
                                                    <td><span class="label label-success">GSTN Synced</span></td>
                                                {{/eq}} -->
                                                {{#each ../itKeys}}
                                                    {{#contains '[_id,__v,__db, __lastMod,__loginCount,format,prod-file,item-excel-list,uploadData]' this}}
                                                        {{else}}
                                                        <!-- {{#isEmpty ../this}}
                                                        <td> NO DATA </td>
                                                        {{else}} -->
                                                        <td>{{lookup ../this this }}</td>
                                                        <!-- {{/isEmpty}} -->
                                                    {{/contains}}
                                                    {{#eq this "__loginCount"}}
<!-- 
                                                        {{#eq ../this 0}}


                                                            <td><a href="javascript:void(0)" semail = "{{../this.__toEmail}}" email="{{../this.email}}" class="reinvite-btn" style="color: red" >Re-invite</a> </td>
                                                        {{else}} -->
                                                            <td>Used {{lookup ../this this}} times</td>
                                                        <!-- {{/eq}} -->
                                                    {{/eq}}
                                                {{/each}}
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {{> page/footer}}
    </div>
</div>


</body>

    {{> page/script}}   

    <script type="text/javascript">
        $(document).ready(function () {    
            
            $("#btn-export").hide()
            $("#excel").hide()
            if($('#gst-table tr').length > 0)
            {
                $("#btn-export").show()
                $("#excel").hide()
            }
            else
            {
                $("#excel").hide()
            }
            $("#btn-export").click(function(){
                $("#gst-table").table2excel({
                    exclude: ".noExl",
                    name: document.title + new Date(),
                    filename: document.title + new Date(),
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            })
            $(".reinvite-btn").click(function () {
    
                obj = {
                    email : $(this).attr("email"), 
                    toEmail : $(this).attr("semail")
                }
                console.log(obj)
                $.when(commons.ajaxRequest("/scp/{{companyString}}/{{userRole}}" +"/reInvite", obj)).done(function(res){
                    console.log(res)

                    if(res.ok)
                    {
                        commons.showNotif('top','right', 'Email Sent to '+ obj.toEmail, 2)
                        
                        
                    }

                })

            })
                    
        })

    </script>

    

    
</html>
