<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>
    <title>{{title}}</title>
    {{> page/css}}
    <style type="text/css">
        .table-responsive {
            overflow: auto;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="">
    {{> page/header}} 
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{entryTitle}}</h4>
                                <a href="#" id="btn-export">Export to excel file</a>
                            </div>
                            <div class="content table-responsive">
                                <table id="gst-table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th> Supplier  Code </th>   
                                            <th> Name </th>   
                                            <th> Email </th>   
                                            <th> Phone </th>   
                                            <th> Pan </th>   
                                            <th> Hsn </th>   
                                            <th> Asc </th>   
                                             -->
                                            {{#each exactKeys}}
                                            {{#contains '[Id,V,Db,Password,Role]' this  }}
                                            {{else}}

                                                <th> {{this}} </th>
                                            {{/contains}}
                                            {{/each}}
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each data}}
                                            <tr>
                                            {{#each ../itKey}}
                                                {{#contains '[_id,__v,__db, _password, _role,]' this  }}
                                                {{else}}
                                                <!-- {{#eq this 'name'}}
                                                    <td>{{../this.name}}</td>
                                                    {{else}}
                                                {{/eq}} -->
                                                    <td>{{lookup ../this this}}</td>


                                                {{/contains}}
                                            {{/each}}
                                        
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{> page/footer}}
    </div>
</div>


</body>

    {{> page/script}}   

    <script type="text/javascript">
        $(document).ready(function () {    
            
            $("#btn-export").hide()
            if($('#gst-table tr').length > 0)
            {
                $("#btn-export").show()
            }
            $("#btn-export").click(function(){
                $("#gst-table").table2excel({
                    exclude: ".noExl",
                    name: document.title + new Date(),
                    filename: document.title + new Date(),
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            })
            $(".reinvite-btn").click(function () {
    
                obj = {
                    email : $(this).attr("email"), 
                    toEmail : $(this).attr("semail")
                }
                console.log(obj)
                $.when(commons.ajaxRequest("/scp/{{companyString}}/{{userRole}}" +"/reInvite", obj)).done(function(res){
                    console.log(res)

                    if(res.ok)
                    {
                        commons.showNotif('top','right', 'Email Sent to '+ obj.toEmail, 2)
                        
                        
                    }

                })

            })
                    
        })

    </script>

    

    
</html>

