
<!doctype html>
<html lang="en">
<head>
	<title>{{> page/title}}</title>
    {{> page/css}}
</head>

<body>
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../dashboard/overview.html">{{companyName}} | {{appName}}</a>
            </div>
        </div>
    </nav>

    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="" data-image="../../assets/img/background/background-2.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form method="#" action="#">
                                <div class="card" data-background="color" data-color="blue">
                                    <div class="header">
                                        <h3 class="title">Login</h3>
                                    </div>
                                    <div class="content">
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" id="login-email" placeholder="Enter email" class="form-control input-no-border">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" id="login-pwd" placeholder="Password" class="form-control input-no-border">
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="button" class="btn btn-fill btn-wd" id="btn-login" >Let's go</button>
                                        <div class="forgot">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        	{{> page/footer}}
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: #e3e3e3;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="row password-div">
                        <div class="col-md-6 col-sm-6"> 
                            <div class="form-group">
                                <label>Enter Your Username</label>
                                <input type="email" id="forget-pass" placeholder="username" class="form-control input-no-border">
                            </div>
                        </div>
                        
                    </div> 
                    <div class="row username-div" style="display: none;">
                        <div class="col-md-6 col-sm-6"> 
                            <div class="form-group">
                                <label>Enter Email To get username</label>
                                <input type="email" id="forget-user" placeholder="Enter register email" class="form-control input-no-border">
                            </div>
                        </div>
                        
                    </div>            

                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" style="float:left" class="link-text" id="forget-uname"></a>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>

	<!--   Core JS Files. Extra: PerfectScrollbar + TouchPunch libraries inside jquery-ui.min.js   -->
	{{> page/script}}
	<script type="text/javascript">
        $().ready(function(){
            var modalFlag = "UNAME"
            demo.checkFullPageBackgroundImage();
            function deleteAllCookies() {
                var cookies = document.cookie.split(";");

                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i];
                    var eqPos = cookie.indexOf("=");
                    var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                }
            }
            deleteAllCookies()
            setTimeout(function(){
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)

            $('#login-email, #login-pwd').keypress(function(event){
 
                if(event.keyCode == 13){
                    $("#btn-login").click();
                }
                event.stopPropagation();
            })

            $("#btn-login").click(function(){
                var objLogin = {
                    userName : $("#login-email").val(),
                    passwd : $("#login-pwd").val()
                }

                $.when(commons.ajaxRequest(commons.getSvcUrl() + "/login", objLogin)).done(function(res){
                    
                    
                    if(commons.checkResponse(res, "/login"))
                    {
                        
                        if(res && res.ok && res.token && res.name && res.role )
                        {
                            commons.showNotif('top','right', 'Login Succeed!!', 2)

                            localStorage.setItem('loginResponse', JSON.stringify(res));
                            /*for(key in res)
                            {
                                $.cookie(key, res[key])
                            }*/
                            
                            setTimeout(function () {
                           
                                var domain = (res.email.split('@')[1])
                                location.href = "/scp/" + domain.replace(/\./g,"_") + "/" + res.role
                                
                            },3000)


                        }
                        else
                        {
                            sweetAlert("Oops...", "Username Or Password is wrong!", "error");
                        }
                    }
                })
            })

            
            $(".link-text").text("Forgot your username ?")
            $("#forget-uname").click(function () {
                $(".password-div").toggle()
                $(".username-div").toggle()

                var text = 'Forgot your username ?'
               
                if($(this).text() == text)
                {
                    $(this).text("Forgot your password ?")
                    modalFlag = "PWD"
                }
                else
                {
                    $(this).text("Forgot your username ?")
                    modalFlag = "UNAME"
                }
                
            })

            /*$('#myModal').on('show.bs.modal', function (event) {
                
            })*/
            $(".submit-btn").click(function () {
                console.log(modalFlag)
                if(modalFlag == "UNAME")
                {
                    var pwdObject = {
                        email : $("#forget-pass").val()
                    }
                }
                else
                {
                    var pwdObject = {
                        __toEmail : $("#forget-user").val()
                    }
                }

                $.when(commons.ajaxRequest(
                    commons.getSvcUrl() + "/scp/login/forgot-password", 
                    pwdObject)).done(function(res){

                    commons.showNotif('top','right', 'Mail Sent Successfully.', 2)
                    console.log(res)
                    if(res.ok)
                    {
                        
                        setTimeout(function () {
                            
                            location.href = "/scp/login"
                            
                        },3000)
                    }

                })
            })

        });
	</script>

</html>
