<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>
	<title>{{title}}</title>
    {{> page/css}}
</head>
<body>

<div class="wrapper">
	<!-- <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    {{companyName}} <br> {{appName}}
                </a>
            </div>
            <ul class="nav">
                <li>
                    <p class="order-link"> <a href="/scp/{{companyString}}/supplier/file-gst">Upload Invoice / ASN</a> </p>
                </li>
            </ul>
        </div>

    </div> -->

    <div class=""> 
        
        {{> page/header}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Manual Invoice / ASN Filing</h4>
                            </div>
                            <div class="content">
                                <div id="register-div">
                                    <form>
                                            <!-- 
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Content matcher</label>
                                                <input type="text" id="suggester" class="form-control border-input" placeholder="This would be good !" value="">
                                            </div>
                                        </div> -->
                                        <div class="row">
                                        {{#each gstSchema}}
                                            {{#contains '[_id,__v]' @key  }}
                                                {{else}}

                                                    {{#contains '[TEXT,DATETIME-LOCAL,NUMBER]' this.options.elementType}}
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="{{@key}}">{{this.options.elementText}}</label>
                                                            <input type="{{this.options.elementType}}" id="{{@key}}" class="form-control border-input" placeholder="{{this.options.placeholder}}" 
                                                            value="">



                                                        </div>
                                                    </div>
                                                    {{else contains '[SELECT]' this.options.elementType}}
                                                    <div class="col-md-4">
                                                    <div class="form-group">
                                                    <label for="{{@key}}">{{this.options.elementText}}</label>
                                                    <select name="backup" id="{{@key}}" class="selectpicker select-box" data-title="Single Select">
                                                        
                                                        {{#each enumValues}}
                                                            <option value="{{this}}">{{this}}</option>
                                                        {{/each}} 
     
                                                    </select>
                                                    </div>
                                                    </div>
                                                    {{else}}
                                                    <!-- <div class="col-md-4">
                                                    <div class="form-group">
                                                    <label class="checkbox">
                                                        <span class="icons"><span class="first-icon fa fa-square"></span></span><input type="{{this.options.elementType}}" id="{{@key}}" data-toggle="checkbox" value="">{{this.options.elementText}}
                                                    </label>
                                                    </div>
                                                    </div> -->
                                                    
                                                {{/contains}}
                                                {{/contains}}
                                        {{/each}}
                                        </div>

                                        

                                        
                                        <div class="">
                                           
                                            <button type="button" id="add-material-btn" class="btn btn-info btn-fill btn-wd pull-right ">Add Material</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>

                                    <div class="content table-responsive table-full-width">
                                    
                                        <table class="table table-middle" id="add-material-table">
                                            <thead id="add-material-table-header">
                                            </thead>
                                            <tbody id="add-material-table-content">
                                            </tbody>
                                        </table>
                                    </div>
                                    <p>Total Invoice Value:<span id="total-value"></span></p>
                                     <button type="button" id="register-btn" class="btn btn-info btn-fill btn-wd">Submit</button> 
                                     
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{> page/footer}}
    </div>
</div>


</body>

    {{> page/script}}

    <script type="text/javascript">
        $(document).ready(function () {
            var total = 0;
            var arr = ["Bhushan", "Ashwini"]
            $("#suggester").on("keyup" ,function(){
                var textVal = this.value
                res = arr.filter(isContains);  

                function isContains(currentVal) {
                    return (currentVal.indexOf(textVal) != -1);
                }


                var text = 'You typed: ' + this.value;
                
                if(!this.suggestion) {
                    var rect = this.getBoundingClientRect();
                    var left = rect.left;
                    var top = rect.bottom;
                    this.suggestion = document.createElement('DIV');            
                    text = ''
                    for (var i = 0; i < res.length; i++) {
                        console.log(res[i])
                        text += ('<div> ' + res[i] + '</div><br>')
                    }
                    this.suggestion.innerHTML = text;
                    this.suggestion.setAttribute('style', 'background: #B0B0B0; padding: 6px; position: absolute; top: ' + top + 'px; left: ' + left + 'px;');
                    $("#" + this.id).append(text);
                } else {
                    this.suggestion.innerHTML = text;
                    this.suggestion.style.display = 'block';
                }        
                
            })
            $("#machineName").on('change', function(){
                $("#machineCode").val($("#machineName :selected").val())
            })
            $("#machineCode").on('change', function(){
                $("#machineName").val($("#machineCode :selected").val())  
            })
            /*$("#suggester").on('blur', function(event) {
                if(this.suggestion) {
                    this.suggestion.style.display = 'none';
                }
            });
            */

            var today = new Date();
            $('#date').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2)+'T'+today.getHours()+':'+(today.getMinutes() < 10 ? '0'+today.getMinutes() : today.getMinutes()) );
            
            materialArr = [], globArr = []
            $("#add-material-btn").click(function () {
                puchObject = new Object()    
                $("#register-div :input:not(:button)").each(function () {
                    puchObject = commons.insertIntoJsonObject(puchObject, this.id, this.value)
                })
                globArr.push(puchObject)
                

                materialObj = new Object()

                materialObj.description_of_goods = $("#description_of_goods").val()
                materialObj.hsn_code = $("#hsn_code").val()
                materialObj.quantity = $("#quantity").val()
                materialObj.unit = $("#unit").val()
                materialObj.rate = $("#rate").val()
                materialObj.total = $("#total").val()
                materialObj.discount = $("#discount").val()
                materialObj.taxable_value = $("#taxable_value").val()
                materialObj.cgst_percent = $("#cgst_percent").val()
                materialObj.cgst_amount = $("#cgst_amount").val()
                materialObj.sgst_percent = $("#sgst_percent").val()
                materialObj.sgst_amount = $("#sgst_amount").val()
                materialObj.igst_percent = $("#igst_percent").val()
                materialObj.igst_amount = $("#igst_amount").val()
                materialObj.item_value = $("#item_value").val()

                total += Number(materialObj.item_value)
                  
                $("#total-value").text(total);   
                console.log(total);

                materialArr.push(materialObj)
  
                header = ""
                $("#add-material-table-header").empty()
                for(var key in materialObj)
                {
                    key = commons.getCamelCase(key)
                    header += '<th>'+ key +'</th>'                   
                }
                

                headerData = '<tr>' + header + '</tr>'

                $("#add-material-table-header").append(headerData)
                $("#add-material-table-content").empty()
                $.each(materialArr, function (key, val) {
                    
                textElement =   '<tr>'+
                                        
                                    '<td>' + val.description_of_goods +'</td>'+
                                    '<td>' + val.hsn_code +'</td>'+
                                    '<td>' + val.quantity +'</td>'+
                                    '<td>' + val.unit +'</td>'+
                                    '<td>' + val.rate +'</td>'+
                                    '<td>' + val.total +'</td>'+
                                    '<td>' + val.discount +'</td>'+
                                    '<td>' + val.taxable_value +'</td>'+
                                    '<td>' + val.cgst_percent +'</td>'+
                                    '<td>' + val.cgst_amount +'</td>'+
                                    '<td>' + val.sgst_percent +'</td>'+
                                    '<td>' + val.sgst_amount +'</td>'+
                                    '<td>' + val.igst_percent +'</td>'+
                                    '<td>' + val.igst_amount +'</td>'+
                                    '<td>' + val.item_value +'</td>'+

                                '</tr>'

                    $("#add-material-table-content").append(textElement)
                    console.log(globArr)
                })
               
            })

            
            $("#register-btn").click(function () {
                for (var i = globArr.length - 1; i >= 0; i--) {
                    globArr[i].__invoiceValue = total
                }
                $.when(commons.ajaxRequest(window.location, JSON.stringify(globArr))).done(function(response)
                {
                    console.log(response)
                    if(response.ok)
                    {
                        commons.msg("Success", "You have saved your Invoice / ASN data")
                    }
                    if(response.err)
                    {
                        $.each(response.err["errors"], function (key,val) {
                        
                            
                            commons.showNotif('top','right', val.message, 4)

                        })
                    }
                })            
            })

            
        })



    </script>

    

    
</html>
