    <!doctype html>
    <html lang="en">
    <head>
    	<title>{{> page/title}}</title>
        {{> page/css}}

       
    </head>

    <body>
        <!-- <nav class="navbar navbar-absolute">
    	    <div class="container">
    	        <div class="navbar-header">
    	            <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
    	                <span class="sr-only">Toggle navigation</span>
    	                <span class="icon-bar "></span>
    	                <span class="icon-bar "></span>
    	                <span class="icon-bar"></span>
    	            </button>
    	        </div>
    	        <div class="collapse navbar-collapse">
    	            <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="ti-user"></i>
                                <p id="user-name"></p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-settings"></i>
                                <p id="logout">Logout</p>
                            </a>
                        </li>
                    </ul>
    	        </div>
    	    </div>
    	</nav>
     -->

        {{> page/header}}
    	<div class="wrapper wrapper-full-page">
        	<div class="register-page">
    		<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            	<div class="content">
                	<div class="container">
                    	<div class="row">
                        	<div class="col-md-8 col-md-offset-2">
                            	<div class="header-text" style="padding: 0px;">
                                	<h2>Onboard New Client</h2>
                                    
                                    <hr>
                            	</div>
                        	</div>
                        	<!-- <div class="col-md-4">
                            	<h3> Client List </h3>
                                <ul style="list-style: none; max-height:500px; overflow:auto; padding:0px;">
                                {{#each dataRegister}}
                                    <div class="one-supplier">
                                        <li> Name: {{this.company}} </li>
                                        <li> Email: {{this.email}} </li>
                                        <li> Code: {{this.supplierCode}} <a href="javascript:void(0)" semail = "{{this.email}}" sdomain="{{this.domain}}" class="reinvite-btn" style="color: red" >Re-invite</a> </li>
                                    </div>
                                {{/each}}
                                
                                </ul>
                            	
                        	</div>  -->
                            
                        	<div class="col-md-8 col-md-offset-2">
                                
                                <div id="new-register">
                                	<form method="" action="">
                                    	<div class="card card-plain">
                                        	<div class="content">
                                                <div class="row">
                                                    
                                               
                                                {{#each registerData}}
                                                    
                                                    {{#contains @key "_"}}

                                                    {{else}}
                                                        {{#contains '[TEXT,EMAIL]' this.options.elementType}}
                                                        <div class="col-md-6">
                                                            
                                                        	<div class="form-group">
                                                        		<label for="{{@key}}">{{this.options.placeholder}}</label>
                                                            	<input type="{{this.options.elementType}}" id="{{@key}}" placeholder="{{this.options.placeholder}}" class="form-control">
                                                        	</div>
                                                        </div>
                                                        {{else}}
                                                        <div class="col-md-6">
                                                            
                                                            <div class="form-group"> 
                                                                <label>{{this.options.lableText}}</label>   
                                                                <select name="role" id="{{@key}}" class="selectpicker select-box">
                                                                
                                                                    {{#each enumValues}}
                                                                    <option value="{{this}}">{{this}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        
                                                        {{/contains}} 
                                                	{{/contains}}
                                                   
                                                {{/each}}
                                            	</div>
                                            </div>
                                            <div class="row">
                                                <h3 style="text-align: center;">SMTP configuration details</h3>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Host Name</label>
                                                        <input type="text" id="host" placeholder="Host" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Port</label>
                                                        <input type="Number" id="port" placeholder="Port" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="email" id="user" placeholder="User Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input type="password" id="pass" placeholder="Password" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Display Name</label>
                                                        <input type="text" id="displayName" placeholder="Display Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group"><br>
                                                        <label>Secure</label>
                                                        <input type="checkbox" id="secure" placeholder="Secure" style="width: 20px;height: 20px"> 
                                                    </div>

                                                </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h3 style="text-align: center;"> Supplier GST Information Format </h3>
                                                <div class="col-md-12">
                                                    <label>Add Header Fields (optional)</label>
                                                    <input type="file" id="prod-file"></input>
                                                    <div class="content table-responsive table-full-width">
                                                        
                                                        <table class="table table-middle" id="upload-format-table">
                                                            <thead id="upload-format-table-header">
                                                            </thead>
                                                            <tbody id="upload-format-table-content">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                    
                                                  
                                            </div>
                                            <div class="row">
                                                <label>Add Item Fields (optional)</label>
                                                        
                                                <input type="file" id="item-excel-list"/>
                                           
                                                <a style="font-size: 18px;" class="fa fa-upload fa-2x" id="upload"></a>
                                                          
                                            </div> 
                                        	<div class="footer text-center">
                                            	<button type="button" id="create-account-btn" class="btn btn-fill btn-danger btn-wd">Create Account</button>
                                        	</div>
                                    	</div>
                                	</form>
                                </div>
                        	</div> 
                    	</div>
                	</div>
            	</div>

        		{{> page/footer}}
    		</div>
    	</div>
    </body>

    	{{> page/script}}


    	<script>
    		
    	$(document).ready(function () {

            $(".reinvite-btn").click(function () {
                
                obj = {
                    email : "admin@" + $(this).attr("sdomain"),
                    toEmail : $(this).attr("semail")
                }
                $.when(commons.ajaxRequest(window.location +"/reInvite", obj)).done(function(res){
                    console.log(res)

                    if(res.ok)
                    {
                        commons.showNotif('top','right', 'Email Sent to '+ obj.toEmail, 2)
                        
                    }
                    else
                    {
                        commons.showNotif('top','right', 'Failed to send to '+ obj.toEmail , 4)
                    }

                })

            })
            
            if(commons.isNull($.cookie("email")))
            {
                location.href = "/login"
            }

            setTableId ($("#upload-format-table"), 
                        $("#upload-format-table-header") , 
                        $("#upload-format-table-content"));
        

            var xlf = document.getElementById('prod-file');
            if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
            
            var uploadData = null
            $("#upload").click(function () {
                
                filesAdd = $("#item-excel-list").prop("files")
                if(filesAdd.length > 0){

                    console.log(filesAdd)
                    var reader = new FileReader();
                    reader.readAsDataURL(filesAdd[0]);

                    reader.onload = function () {


                    uploadData = reader.result
                    commons.showNotif('top','right', 'File uploaded Sucessfull !!!', 2)
                    //console.log("uploadData", uploadData)

                       
                    }

                }
            })

            var createObject = new Object()


            $("#create-account-btn").click(function () {

                console.warn("uploadData", uploadData)
                console.log("secure=",$("#secure").prop("checked") )
                createObject.secure = $("#secure").prop("checked") 
                $("#new-register :input:not(:button)").each(function (k,v) {
                        
                        createObject =
                                    commons.insertIntoJsonObject(
                                    createObject,
                                    this.id,  this.value)
                        
                })
                createObject.gstn = $("#gstn").val().toUpperCase();
                createObject.pan = $("#pan").val().toUpperCase();

    			data =  localStorage.getItem("file")
                if(data){

                    data = JSON.parse(data)
                    data = data.Sheet1
                    console.log("sheet data",data)
                    createObject.format = data;
                    console.warn("data",data.defaultValue)
                    for (var i = data.length - 1; i >= 0; i--) {
                        data[i].placeholder = data[i].field
                        if(data[i].type == 'SELECT')
                        {
                            data[i].defaultValue = data[i].defaultValue.split("|")
                        }
                        data[i].field = data[i].field.replace(/ /g, '_').toLowerCase()
                    }
                }

                createObject.uploadData = uploadData
                
                $.when(commons.ajaxRequest(window.location, createObject)).done(function(res){
                    console.log("object",res)
                    if(res.err)
                    {
               
                        if(res.err.hasOwnProperty('errmsg'))
                        {
                            commons.showNotif('top','right', 'Email address is already exist, please enter another', 1)
                        }
                        $.each(res.err["errors"], function (key,val) {
                        
                            commons.showNotif('top','right', val.message, 4)

                        })
                    }


                    if(res.ok)
                    {
                        commons.showNotif('top','right', 'Registration Sucessfull !!!', 2)
                        
                        setTimeout(function () {
                            
                            location.href = "/scp/{{companyString}}/{{userRole}}"
                            
                        },3000)
                    }

                    if(commons.checkResponse(res, "/register"))
                    {
                        
                        
                    }

                })

        	})

            $("#logout").click(function () {
                    
                swal({
                        title: "Are you sure?",
                        text: "You want to logout the session!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: false,
                        closeOnCancel: false
                        }, function(isConfirm) {
                        if (isConfirm) {
                            swal("Logout", "User is logout.", "success");
                            location.href = '/scp/login'
                            localStorage.clear();
                            
                        } 
                        else {
                            swal("Cancelled", "Your are login", "error");
                        }
                    });

            })

    	})


    	</script>

    </html>
