<!doctype html>
<html lang="en">
<head>
	<title>{{> page/title}}</title>
    {{> page/css}}

   
</head>

<body>
   <!--  <nav class="navbar navbar-absolute">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar "></span>
	                <span class="icon-bar "></span>
	                <span class="icon-bar"></span>
	            </button>
                <a class="navbar-brand" href="#">{{companyName}}</a>
	        </div>
	        <div class="collapse navbar-collapse">
	            <ul class="nav navbar-nav navbar-right">
	                <li>
                        <a href="javascript:void(0)">
                            <i class="ti-user"></i>
                            <p id="user-name"></p>
                        </a>
                    </li>
                    <li>
                        <a href="/scp/{{companyString}}/admin">
                            
                            <p id="back"> Back </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-settings"></i>
                            <p id="logout">Logout</p>
                        </a>
                    </li>
	            </ul>
	        </div>
	    </div>
	</nav> -->
    {{> page/header}}

	<div class="wrapper wrapper-full-page">
    	<div class="register-page">
		<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        	<div class="content">
            	<div class="container">
                	<div class="row">
                    	<div class="col-md-8 col-md-offset-2">
                        	<div class="header-text" style="padding: 0px;">
                            	<h2>{{title}}</h2>
                                <h4 class="text-muted">{{desc}}</h4>
                                <hr>
                        	</div>
                    	</div>
                    	<!-- <div class="col-md-4">
                        	<h3> Registered User List </h3>
                            <ul style="list-style: none; max-height:500px; overflow:auto; padding:0px;">
                            {{#each dataRegister}}
                                <div class="one-supplier">
                                    <li> Name: {{this.name}} </li>
                                    <li> Username: {{this.email}}</li>
                                    <li> Email: {{this.__toEmail}} </li>
                                    <li> Role: {{this.role}} <a href="javascript:void(0)" semail = "{{this.__toEmail}}" email="{{this.email}}" class="reinvite-btn" style="color: red" >Re-invite</a>  </li>

                                </div>
                            {{/each}}
                            
                            </ul>
                    	</div> -->
                        
                    	<div class="col-md-4 col-md-offset-4">
                        <h3> Register New User</h3>
                            <div id="new-register">
                            	<form method="" action="">
                                	<div class="card card-plain">
                                    	<div class="content">
                                            <div class="form-group">
                                                <input type="text" id="username" placeholder="username" class="form-control">
                                            </div>
                                            {{#each registerData}}
                                            
                                            {{#contains @key "_"}}

                                            {{else}}
                                                {{#contains '[TEXT,EMAIL,PASSWORD]' this.options.elementType}}
                                            	<div class="form-group">
                                                	<input type="{{this.options.elementType}}" id="{{@key}}" placeholder="{{this.options.placeholder}}" class="form-control">
                                            	</div>
                                                {{else}}
                                                
                                                
                                                <div class="form-group"> 
                                                    <label>{{this.options.lableText}}</label>   
                                                    <select name="role" id="{{@key}}" class="selectpicker select-box">
                                                    <option class="bs-title-option" value="" >Single Select</option>
                                                        {{#each enumValues}}
                                                        <option value="{{this}}">{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                
                                                {{/contains}} 
                                        	{{/contains}}
                                           
                                        {{/each}}
                                        
                                    	</div>
                                    	<div class="footer text-center">
                                        	<button type="button" id="create-account-btn" class="btn btn-fill btn-danger btn-wd">Send Invite</button>
                                    	</div>
                                	</div>
                            	</form>
                            </div>
                    	</div> 
                	</div>
            	</div>
        	</div>

    		{{> page/footer}}
		</div>
	</div>
</body>

	{{> page/script}}

	<script type="text/javascript">
        $().ready(function(){
            demo.checkFullPageBackgroundImage();


            setTimeout(function(){
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
		});

        $(".reinvite-btn").click(function () {
    
            obj = {
                email : $(this).attr("email"), 
                toEmail : $(this).attr("semail"),
                reInvite : true
            }
            $.when(commons.ajaxRequest(window.location +"/reInvite", obj)).done(function(res){
                console.log(res)

                if(res.ok)
                {
                    commons.showNotif('top','right', 'Email Sent to '+ obj.toEmail, 2)
                    
                    
                }

            })

        })

        var createObject = new Object()

        $('#create-account-btn').click(function () {
            
           $("#new-register :input:not(:button)").each(function (k, v) {
               
                createObject =
                            commons.insertIntoJsonObject(
                            createObject,
                            this.id,  this.value)                

           })

            createObject.email = $("#username").val() + '@' + commons.getCompanyName().replace(/\_/g,".") 
            createObject.__toEmail = $("#email").val()
            console.log(createObject)

            $.when(commons.ajaxRequest(window.location, createObject)).done(function(res){
                if(res.err)
                {
                    if(res.err.hasOwnProperty('errmsg'))
                    {
                        commons.showNotif('top','right', 'Email address is already exist, please enter another', 1)
                    }
                    $.each(res.err["errors"], function (key,val) {
                    
                        commons.showNotif('top','right', val.message, 4)

                    })
                }


                if(res.ok)
                {
                    commons.showNotif('top','right', 'Registration Sucessfull!!!', 2)
                    setTimeout(function () {
                        
                        location.href = "/scp/{{companyString}}/{{userRole}}"
                        
                    },3000)
                }

                if(commons.checkResponse(res, "/register"))
                {
                    
                    
                }

            })

        })

        $("#logout").click(function () {
                
            swal({
                    title: "Are you sure?",
                    text: "You want to logout the session!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                    }, function(isConfirm) {
                    if (isConfirm) {
                        swal("Logout", "User is logout.", "success");
                        location.href = '/scp/login'
                        localStorage.clear();
                        
                    } 
                    else {
                        swal("Cancelled", "Your are login", "error");
                    }
                });


        })



	</script>

</html>
