
<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>

    <title>{{title}}</title>
    {{> page/css}}

    <style type="text/css">
        select.select-box{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            background: #fffcf5;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        {{> page/nav}}

    </div>

    <div class="main-panel">
        
        {{> page/header}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Upload Invoice / ASN</h4>
                                
                            </div>
                            <div class="content">
                                <div id="create-ticket-form">


                                </div>

                                    <div class="row">
                                        <div class="content table-responsive table-full-width">
                                            
                                            <table class="table table-middle" id="upload-material-table">
                                                <thead id="upload-material-table-header">
                                                </thead>
                                                <tbody id="upload-material-table-content">
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                    <div class="text-center">
                                        <input type="file" id="prod-file"></input>
                                        <button type="button" id="btn-create-ticket" class="btn btn-info btn-fill btn-wd">Register</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {{> page/footer}}
        
    </div>
</div>


</body>

   {{> page/script}}
   <script type="text/javascript">

        $(document).ready(function(){

            setTableId ($("#upload-material-table"), 
                        $("#upload-material-table-header") , 
                        $("#upload-material-table-content"));
        

            var xlf = document.getElementById('prod-file');
            if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
        
            $("#btn-create-ticket").click(function () {
                //console.log("sending req")
                data =  localStorage.getItem("file")
                data = JSON.parse(data)
                //console.log(data)
                data = data.Sheet1
                $.when(commons.ajaxRequest("/file-gst", JSON.stringify(data))).done(function(response)
                {
                    console.log(response)
                })            
            })

        })
            
   </script>
</html>
