<!doctype html>
<html lang="en"  class="perfect-scrollbar-off">
<head>
    <title>{{title}}</title>
    {{> page/css}}
</head>
<body>

<div class="wrapper">
<!--     <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    {{companyName}} <br> {{appName}}
                </a>
            </div>
            <ul class="nav">
                <li>
                    <p class="order-link"> <a href="/scp/{{companyString}}/{{userRole}}/file-gst">Upload Invoice / ASN</a> </p>
                </li>
            </ul>
        </div>

    </div>
 -->
<!--     <div class="main-panel"> 
 -->        
        {{> page/header}}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                    <form>
                                            <!-- 
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Content matcher</label>
                                                <input type="text" id="suggester" class="form-control border-input" placeholder="This would be good !" value="">
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <h4 class="title">Profile Data </h4>
                                            <div id="profile-div">
                                                {{#each adminSchema}}
                                                    {{#contains '[_id,__v]' @key  }}
                                                        {{else}}

                                                            {{#contains '[TEXT,EMAIL]' this.options.elementType}}
                                                                {{#contains '[supplierCode]' @key}}
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="{{@key}}">{{this.options.placeholder}}</label>
                                                                    <input type="{{this.options.elementType}}" id="{{@key}}" class="form-control border-input" placeholder="{{this.options.placeholder}}" 
                                                                    value="{{lookup ../companyData @key}}" disabled="{{this.disabled}}">
                                                                </div>
                                                            </div>
                                                            {{else}}
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="{{@key}}">{{this.options.placeholder}}</label>
                                                                    <input type="{{this.options.elementType}}" id="{{@key}}" class="form-control border-input" placeholder="{{this.options.placeholder}}" 
                                                                    value="{{lookup ../companyData @key}}">
                                                                </div>
                                                            </div>
                                                                {{/contains}}
                                                            
                                                            
                                                        {{/contains}}
                                                    {{/contains}}
                                                {{/each}}

                                                
                                            </div>
                                            
                                        </div>
                                        
                                        
                                        <div class="row">
                                            <div id="gst-profile">
                                            
                                            
                                            <h4 class="title">Company Specific GST Contents</h4>
                                                {{#each profileSchema}}

                                                    {{#contains '[SELECT]' this.type}}
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="{{this.field}}">{{this.placeholder}}</label>
                                                            <select class="form-control" id="{{this.field}}">
                                                                {{#each this.defaultValue}}
                                                                    <option value="{{this}}">
                                                                        {{this}}
                                                                    </option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    {{else}}
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="{{#replace this.field '.' ''}}{{/replace}}">{{this.placeholder}}</label>
                                                            <input type="{{this.type}}" id="{{#replace this.field '.' ''}}{{/replace}}" class="form-control border-input" maxlength="{{this.length}}" placeholder="{{this.placeholder}}" 
                                                            value="{{this.defaultValue}}" isRequired="{{this.required}}">
                                                        </div>
                                                    </div>
                                                    {{/contains}}
                                                {{/each}}
                                            </div>
                                        </div>
                                        
                                    </form>
                                    {{#eq dataProfile.uploadData null}}
                                    {{else}}
                                    <div class="item-section">    
                                        <div id="excel-download">
                                            <a id='down-link' data-value="{{dataProfile.uploadData}}" download="Item_level_data.xlsx" style="display: none;"></a> 
                                            <a href="#" id="download-here">Download item level data file</a>
                                        </div>
                                        <div class="">
                                            <label>Add Item Fields (optional)</label>
                                            <input type="file" id="item-file"></input>
                                            
                                        </div> 
                                    </div>
                                    {{/eq}}

                                        <!-- <button type="button" id="add-more-btn" class="btn btn-info btn-fill btn-wd" style="float:right;">Add More GST</button> --> 
                                    
                                    <div class="clearfix"></div>
                                    <!-- <div class="content table-responsive table-full-width">
                                    
                                        <table class="table table-middle" id="add-gstn-table">
                                            <thead id="add-gstn-table-header">
                                                
                                            </thead>
                                            <tbody id="add-gstn-table-content">
                                            </tbody>
                                        </table>
                                    </div> --> 
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-middle" id="item-level-table">
                                            <thead id="item-level-table-header">
                                                
                                            </thead>
                                            <tbody id="item-level-table-content">
                                                
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    
                                    <button type="button" id="update-btn" class="btn btn-info btn-fill btn-wd">Update Profile</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{> page/footer}}
        </div>
    <!-- </div> -->
</div>


</body>

    {{> page/script}}

    <script type="text/javascript">
        
    $(document).ready(function () {

       var gstArray = []
        $("#add-more-btn").click(function () {


            $(".gstn-div :input:not(:button)").each(function (k, v) {

                var $element = $(this)
                console.log($element.val())
                if (this.value.length != 10 && this.id == 'telephone_no') {

                    
                    commons.showNotif('top','right', "Please enter valid " + this.placeholder , 4) 

                    return false  
                }
            })
            
            var gstnData = {
                stateCode : $.cookie("email").split('@')[0] +"-"+ $("#stateCode :selected").val(),
                address : $("#address").val(),
                gstn: $("#gstn").val(),
                certificate : $("#cert").val(),
            }
            files = $("#certupload").prop("files")
            console.log("certupload", files)
            if (files.length > 0) {

                getBase64(files[0],"GSTN", gstnData, false)
            }

            filesAdd = $("#fileupload").prop("files")

            if(filesAdd.length > 0){
                getBase64(filesAdd[0], "ADDRESS" , gstnData, true)
            }   
        })
        
        
        function getBase64(file,filePrefix, gstnData, isToPushtoArr) {

            var reader = new FileReader();
            reader.readAsDataURL(file);
            return reader.onload = function () {
                
                

                if(filePrefix == "ADDRESS")
                {
                    gstnData.addressData = reader.result,
                    gstnData.addressDocumentName = filePrefix + "__" + 
                       gstnData.stateCode + "__" + $.cookie("email").split('@')[0]

                    gstnData.addressDocumentType = file.name.split('.')[1]
                }
                if(filePrefix == "GSTN")
                {
                    gstnData.gstnData = reader.result,
                    gstnData.gstnDocumentName = filePrefix + "__" + 
                       gstnData.stateCode +"__"+ $.cookie("email").split('@')[0]

                    gstnData.gstnDocumentType =   file.name.split('.')[1]
                }

                if(isToPushtoArr)
                {
                    gstArray.push(gstnData)
                }
                
                console.log(gstArray, gstArray.length)
               $("#add-gstn-table-header").empty()
                headerData =    '<tr>'+
                                    '<th>StateCode</th>'+
                                    '<th>GSTN</th>'+
                                    '<th>Address</th>'+
                                    '<th>AddressProof</th>'+
                                    '<th>Certificate</th>'+
                                    '<th>CertificateProof</th>'+
                                '</tr>'

            $("#add-gstn-table-header").append(headerData)

                $("#add-gstn-table-content").empty()
                $.each(gstArray, function (key, val) {
                    
                    textElement =   '<tr>'+
                                                
                                            '<td>' + val.stateCode +'</td>'+
                                            '<td>' + val.gstn +'</td>'+
                                            '<td>' + val.address +'</td>'+
                                            '<td>' + $('#certupload').val().replace(/C:\\fakepath\\/i, '') +'</td>'+ 
                                            '<td>' + val.certificate +'</td>'+ 
                                            '<td>' + $('#fileupload').val().replace(/C:\\fakepath\\/i, '') +'</td>'+

                                        '</tr>'

                    $("#add-gstn-table-content").append(textElement)
                })


                /*if(gstArray.length == 2)   //hardcode
                {
                    
                }*/
                return gstnData
                
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }
        $("#btn-export").click(function(){
            $("#gst-table").table2excel({
                exclude: ".noExl",
                name: document.title + new Date(),
                filename: document.title + new Date(),
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        })
        $("#update-btn").click(function () {

            //console.log(gstnData)
            //console.warn(gstArray)

            /*$.when(commons.ajaxRequest(window.location, gstArray, "POST")).done(function(response){

                    console.warn(response)
                    if(response.ok)
                    {
                        commons.msg("Done !", "Your Profile is updated" )
                    }
                    if(response.err)
                    {
                        $.each(response.err["errors"], function (key,val) {
                        
                            
                            commons.showNotif('top','right', val.message, 4)

                        })
                    }
                   
            })*/
            var isValid = true

            /*var data = {
                        
                uname : $.cookie("email"),
                gstArray : gstArray,
                        
            }
            console.log(data)*/
            var supplierData = new Object()
            
            $("#profile-div :input:not(:button)").each(function (k, v) {
                
                req = $(this).attr("isRequired")
                console.log(this.id)
                if(req && (!this.value || this.value.trim() == ""))
                {
                   commons.showNotif('top','right', this.placeholder + " is required", 4)
                    return false
                }
                supplierData =
                            commons.insertIntoJsonObject(
                            supplierData,
                            this.id,  this.value)
            })

            $("#gst-profile :input:not(:button)").each(function (k, v) {
            
                if (this.value.length != 10 && this.id == 'telephone_no') {

                    
                    commons.showNotif('top','right', "Please enter valid " + this.placeholder , 4) 

                    return false  
                }

                req = $(this).attr("isRequired")

                if(req && (!this.value || this.value.trim() == ""))
                {
                    commons.showNotif('top','right', this.placeholder + " is required", 4)
                    return false
                }
                supplierData =
                            commons.insertIntoJsonObject(
                            supplierData,
                            this.id,  this.value)
            })
            if((supplierData.registration_type != supplierData.gst_no) && (supplierData.registration_type != "Not Registered"))
            {
                commons.showNotif('top','right', "Please enter valid GST No.", 4)
                isValid = false

            }
            var data =  localStorage.getItem("file")
            if(data){

                data = JSON.parse(data)
                console.log(data)
                data = data.Sheet1
                supplierData.gstFields = data;
            }

            if(isValid){

                $.when(commons.ajaxRequest(window.location, supplierData, "PUT")).done(function(response){

                        console.warn(response)
                        if(response.ok)
                        {
                            commons.msg("Done !", "Your Profile is updated" )
                        }
                        if(response.err)
                        {
                            $.each(response.err["errors"], function (key,val) {
                            
                                
                                commons.showNotif('top','right', val.message, 4)

                            })
                        }
                       
                })
                        
                /*$.when(commons.ajaxRequest(commons.getSvcUrl() + "/upload-doc", data)).done(function(res){
                    console.log(res)
                    gstArray = []
                })*/
            }
            
            
        })

        function downloadFile() {    
            var dlnk = $('#down-link')[0];
            var pdf =$("#down-link").attr("data-value")
            dlnk.href = pdf;
            dlnk.click();
        }
        $("#download-here").click(function () {
            downloadFile()
        }) 
            
        setTableId ($("#item-level-table"), 
                $("#item-level-table-header") , 
                $("#item-level-table-content"));


        var xlf = document.getElementById('item-file');
        if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
        
    })

    </script>
    
    

    
</html>
    