    
.logo-name{

    font-size: 27px;
    margin-left: 14px;
    color: #10562d;
    font-weight: 600;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus
{
	background-color: #3c763d;
}